/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

/* BARRA DE NAVEGACIÓN */
.navigation{
    display:flex;
    flex-direction: column;
    
}
.navigation-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background-color: #1876D1;
    color: white;
    padding: 10px;
    font-size: 1rem;
    gap:12px;
    
}

.navigation-logo-img {
    width: 50%;
}

.navigation-title__h1 {
    font-size: 1.5rem;
}

.navigation-list {
    display: flex;
    gap: 32px;
}

.navigation-list__li {
    list-style: none;
}
.navigation-list__li a{
    color: white;
    text-decoration: none;
}

.navigation-bottom{
    align-self: flex-end;
}
.icons{
    display: flex;
    gap:10px;
}
/* FORMULAIO */
.form-w {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    margin: 20px;
}

.form-news-alumn {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-news-newsList {
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.form-label {
    margin-bottom: 5px;
}

.form_input {
    border-radius: 6px;
    border: 1px solid lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
}

.form_btn {
    border-radius: 6px;
    background-color: #1876D1;
    border: none;
    color: white;
    padding: 5px;
    margin: 5px;
    width: 40%;
    align-self: center;
}

/* LISTADO DE NOTICIAS */

.listado-w {
    display: flex;
    flex-basis: 33%;
    gap: 10px;
}

.listad-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-img__img {
    max-width: 100%;
    border-radius: 3px;

}
.new-title{
    margin: 10px 0;
}
.new-content__p{
    max-width: 100%;
    margin: 10px 0;
    color: #BABABA;
    text-align: justify;
    
}
.new-alumn {
    color: #1876D1;
    margin-bottom: 5px;
}
.new-date{
    color:#757575;
}

/* FOOTER */
.footer-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: #1876D1;
    color: white;
    text-decoration: none;
    list-style: none;

}