<section class="container">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 d-flex gap-4">
    <!--usamos directiva ngFor para pintar los users.' -->
    <article class="col" *ngFor="let user of arrUsers">
      <!-- las card serán las encargadas de recoger los datos de los users. -->
      <app-card-user [myUser]="user"></app-card-user>
    </article>
  </div>
</section>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
