
.card{
    box-shadow: 1px 1px 10px #ccc;
}
.card-img-top{
    max-width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:1px solid lightgrey;
    align-self: center;
    padding: 8px;
    margin-top: 8px;
}
.card-text{
    text-align:  center;
}
.card-body-icons{
    justify-content: center;
}
