body{
    font-family: 'Poppins',
    sans-serif;
}


/* similar code styling */
.first_product, .second_product, .third_product{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
}
.product_one, .product_two, .product_three, .amount{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* header styling */

.header{

    border-bottom: 1px solid lightgray;
}
.header_title{
    padding: 10px;
    margin-left: 15px;
}

.header_navbar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.navbar_items {
    padding: 10px;
    gap: 12px;
}

/* shopping cart styling */

.shopping_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 15px;
    max-width: 70%;
}
.shopping_cart_left{
    flex-grow: 1;
    margin-right: 15px;
}

.product_sum{
    display: flex;
    justify-content: space-around;
    
    
}





.shopping_cart_right{
    background-color: #f0eceb;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

/* amount styling */
.amount{
    border-top: 1px solid lightgrey;
}