.chart-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    background-color: hsl(10, 79%, 65%);
    color: #ffffff;
    border-radius: 8px;
    padding: 6px;
}
.chart-head-columnLeft{
    display: flex;
    flex-direction: column;
    
    
    &__title{
        font-size: 0.75rem;
    }
    &__dollar{
        font-size: 1.5rem;
    }
}

