
*{
    font-family: 'DM Sans', sans-serif;;
}
body{
    background-color: $color-very-pale-orange;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-cream;
    height: 100vh;
   
    
}