<section class="d-flex p-4 col-12 col-md-6 col-lg-4">
  <div class="container" *ngFor="let empleado of empleados">
    <!-- //array del lista-empleados.ts -->
    <div class="card" style="width: 18rem">
      <img
        src="https://source.unsplash.com/user/c_v_r"
        class="card-img-top"
        alt="Free unsplash image"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</section>
<button class="btn btn-primary">Home</button>
