@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
main{
    margin: 20px 80px;
}

/* similiar styling */

.btn{
    color:white;
    border: none;
    border-radius: 4px;
    padding: 8px;
}
.cardOne, .cardTwo, .cardThree, .cardFour{
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    width: 25%;
}

.cardOne, .cardTwo, .cardThree, .cardFour, p {
    margin-top: 15px;
}

.cardTwo_btn, .cardFour_btn{
    margin-top: 8px;
}
header{

    border-bottom: 1px solid lightgrey;
}
/* navbar styling start */
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px 80px;
    
}

.navbar ul{
    list-style: none;
    display: flex;
    /* justify-self: right; */
    
}
.navbar_items li{
    margin:10px
}
.navbar_items a{
    text-decoration: none;
    color: black;
}
.navbar_items a:hover{
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0.5px lightgrey;
}

/* section top styling start */
.top{
    display: flex;
    margin: 20px 35px;
}
.top_img{
    width: 40%;
    height:100%;
  
}
.top_img img{
    width: 60%;
}
.top_img span{
    float:left;
    border: none;
    background-color: green;
    color: white;
    padding: 6px;
}
.top_text{
    width: 60%;
}
.top_text span{
    color: red;
    text-transform: uppercase;
    font-weight:700;
    font-size: 15px;  
}
.top h2{
    margin-top: 2px;
    margin-bottom: 10px;
}
.price{
    display: flex;
}
.price_p{
    font-size: 25px;
    font-weight: 700;
    margin: 15px 15px 10px 0px;
}
.price_btn{
    background-color: #0d6efd;
    margin: 15px 15px 10px 0px;

}
.services{
    display: flex;
    margin-top: 10px;
    align-items: center;
    
}
.services i,p{
    margin-right: 15px;
}
/* section middle styling start */
.middle{
    margin: 20px 35px;
}
.accesorios{
    display: flex;
    
}
.accesorios img{
    margin-bottom: 10px;
    width: 90%;
    height: 150px;
}

.cardTwo_btn{
    background-color: red;
    width:25%;
    justify-content: left;
}
.cardFour_btn{
    background-color: #0d6efd;
    width:25%;
    justify-content: left;
}
/* bottom setcion styling start */
.bottom{
    background-color: rgba(146, 200, 247,0.25);
    display: flex;
    margin: 20px 35px;
    padding: 25px;
    justify-content: space-around;
}
.columnLeft{
   
    width: 50%;
}
.columnLeft h2{
    font-size: 45px;
}

form{
    display: flex;
    flex-direction: column;
}
form label{
    margin-bottom: 10px;
}
form input{
    border: 1px solid lightgray;;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
}
.form_btn{
    width: 40%;
    justify-content: center;
    background-color: #0d6efd;
}
/* footer styling start */
footer{
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: center;
}
footer p{
    font-weight: 700;
    padding: 5px;
}
/* media queries */
/* And */
/* @media (min-width: 768px) and (max-width: 1023px) {
    /* Estas reglas solo aplicarán a tamaños entre 768px y 1023px */
/* } */