.navbar{
    margin-bottom: 16px;
}
.navbar-brand{
    
    color: rgb(24, 118, 208);
}
.menu-btn {transform: translate(350px,0);
    display: block;
}
.navbar-items {
    display: none;
}



@media (min-width: 768px) {
    .menu-btn {
            display: none;
        }
    .navbar-items {
            display: flex;
            flex-direction: row;
                }
        .fa-rocket:hover {
            width: 50%;
            transition: all 2s ease-in-out;
            transform: translate(350px, 0);
        }
}
@media (min-width: 768px) and (max-width: 1023px) {
    
    .navbar-items {
            display: flex;
            flex-direction: row;
        }
        .menu-btn {
            display: none;
        }
        .fa-rocket:hover {
            width: 50%;
            transition: all 2s ease-in-out;
            transform: translate(130px, 0);
        }
}
