<article class="container">
  <div class="row">
    <div class="col">
      <figure>
        <img
          class="card-img-top"
          src="./assets/flat-ion-alumn.jpeg"
          alt="name"
        />
      </figure>
    </div>
    <div class="col border-start col-right">
      <div class="data-user mb-5">
        <p>Nombre del Usuario</p>
        <p>Apellido del usuario del Usuario</p>
        <p>Nick Usuario</p>
        <p>mail del Usuario</p>
      </div>
      <div class="btn-user d-flex gap-4">
        <button class="btn btn-danger">Eliminar</button>
        <button class="btn btn-primary" [routerLink]="['/actualizar']">
          Actualizar
        </button>
        <button class="btn btn-secondary" [routerLink]="['/home']">
          Volver al listado
        </button>
      </div>
    </div>
  </div>
</article>
