<div>
  <!-- event bidind -->
  <input type="color" (input)="cambiarColor($event)">
  <!-- property biding -->
  <div class="caja" [style]=" 'background-color:' + color"></div>
</div>
<div>
  <select (change)="seleccionarCiudad($event)">
    <option value="">Selecciona un ciudad</option>
    <option value="madrid">Madrid</option>
    <option value="londres">Londres</option>
    <option value="nueva york">Nueva York</option>
    <option value="roma">Roma</option>
  </select>
  <p>{{ frase }}</p>
</div>
<!-- TWO WAY DATA BIDING-->
<div>
  <input type="text" placeholder="Introduce tu nombre" [(ngModel)]="nombre">
  <input type="text" placeholder="Introduce tu apellido" [(ngModel)]="apellido">
  <button (click)="cargarNombre()">Guardar</button>
  <p>Bienvenido: <span>{{ nombreCompleto }}</span></p>
  <small>{{nombre}} {{apellido}}</small>
</div>
