<p>vista-empleado works!</p>
<div class="card d-flex flex-row" style="width: 18rem">
  <img
    src="https://source.unsplash.com/user/c_v_r"
    class="card-img-top"
    alt="Free unsplash image"
  />
  <div class="card-body">
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="card-buttons d-flex p-2 gap-2">
      <button class="btn btn-success"></button>
      <button class="btn btn-secondary" [routerLink]="['/empleado']">
        Detalle
      </button>
    </div>
  </div>
</div>
<button class="btn btn-primary" [routerLink]="['/home']">Home</button>
