
/* BARRA DE NAVEGACIÓN */
.navigation{
    display: flex;
    
    background-color: #1876D1;
    color: white;
    padding: 10px;
    font-size: 1rem;
}
.navigation-logo-img{
    width: 50%;
}
.navigation-title__h1{
    font-size: 1.5rem;
}
.navigation-list{
    display: flex;
    gap:32px
}
.navigation-list__li{
    
    text-decoration: none;
    list-style:none;
}

/* FORMULAIO */
.form-w{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    margin: 20px;
}
.form-news-alumn{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.form-news-newsList{
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.form-label{
    margin-bottom: 5px;
}
.form_input{
    border-radius: 6px;
    border: 1px solid lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
}
.form_btn{
    border-radius: 6px;
    background-color: #1876D1;
    border: none;
    color: white;
    padding: 5px;
    margin: 5px;
    width: 40%;
    align-self: center;
}

/* LISTADO DE NOTICIAS */

.listado-w{
    display: flex;
    flex-basis: 33%;
    margin: 10px;
    flex-wrap: wrap;
}
.listad-new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-img__img {
    max-width: 50%;
    border-radius: 3px;
    
}
.new-alumn{
    color: #1876D1;
}